.fondo {
    background-image: url("acuarelaBosque.PNG");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.box {
    display: flex;
}

h1 {
    color:mediumseagreen;
}

.cursiva {
    font-style: italic;
}

p {
    font-weight: bold;
}

p.linea {
    color:darkgray;
}

span.negrita {
    font-weight: bold;
}

span.cobre {
    color:rgb(248, 165, 41); 
}

.borde {
    border: solid;
}

.recuadro1 {
    height: 90vh;
    /*margin-left: 0px;*/
}

.recuadro2 {
    width: 25%;
    height: 100vh;
    background-color:black;
    color:white;
}

.img {
    display:block;
    margin:auto;
    margin-top: 60px;
}

.franja {
    height: 8%;
}

.divFuera {
    width: 75%;
}

.bordeBlanco {
    border: solid white;
}

.total {
    width: 100%;
}

