
/* MAIN */

/* para el Flex */

.flexp {
    display:flex;
    gap: 3%;
    /*border: 2px solid rgb(241, 241, 241); */
}

.flex1 {
    
    min-width: 45vh;
    padding: 2%;

}


.flex2 {
    width: 25vh;
    margin-right: 1.5vh;
    background-color:rgb(238, 238, 238);
    
}


/* para dar espacio entre noticias */

.espacioSuperior {
    padding-top: 5%;
}

.espacioInferior {
    padding-bottom: 20%;
}




