/* FONDO */

fondo {
    background-image: url("./img/acuarelaBosque.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*background-position: center bottom; */
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/
}

/* CABECERA */

h1 {
    color: black;
    /*display: ;  */
    text-align: center;
}

.tapoLetras {
    color: white;
    text-align: left;
}


/* INICIO: MENÚS DESPLEGABLES */

nav{
	position: fixed; 
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1git0vh;
	color: white;
	background-color: black;
	text-align: center;
	z-index: 5;
}

.con-menu ul{
	display:flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.con-menu a{
	display: block;
	padding: 19px 100px;
	text-decoration: none;
	color: white;
	background-color: black;
}

.con-menu a:hover  {
  background-color: mediumslateblue;
}

.con-menu ul li ul {
	display: none;
}

.con-menu ul li a:hover + ul, .con-menu ul li ul:hover {
	display: block;
} 

/* FIN: MENÚS DESPLEGABLES */





/* footer */





/*
h3 {
    text-decoration: underline 1px;

}

.box {
    display: flex;
}

*/ 




