/* MAIN */

/* para el Flex */

.flexp {
    display:flex;
    gap: 3%;
    justify-content:space-between;
    /*border: 2px solid rgb(241, 241, 241); */
}

.flex1 {
    width: 20vw;
    height: 97%;
    background-color: black;
    color:white;
    padding-left: 1%;
    border: solid black 20px;
}

.flex2 {
    min-width: 45vw;
    width: 100vw;
    height: 100vh;
    padding: 2%;
    margin-right: 1.6%;
}

.flex3 {
    min-width: 20vw;
    height: 97%; 
    background-color:rgb(238, 238, 238);
    
}

/* fin Flex */


/* FONDO */

.fondo {
    background-image: url("./img/acuarelaBosque.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*background-position: center bottom; */
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/
}

h3 {
    text-decoration: underline 1px;
}

.circulo {
    position: absolute;
    z-index: -1;
    border: solid 5px;
    color:rgb(255, 255, 224);
    border-radius: 100px;
    background: radial-gradient(transparent, transparent ,rgb(255, 255, 231), rgb(253, 253, 201));
    margin-left: 15%;
   
    /*margin-top: 6%;
    margin-left: 35%;
    padding-top: 5%;
    top: 80px;
    left:50px; */
}

.habilidades {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    padding-right: 10%;
    padding-left: 20%;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
   
}

.img {
    display: block;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 12%;
    border-radius: 100vh;
}


.contenedorCurriculum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 12%;
    margin-bottom: 12%;
    border: solid black;
}

.puntosEnlinea {
    padding-left: 22%;
}

.hechizos {
    color:rgb(255, 147, 6);
    font-weight: bold;
}

.encantamientos {
    color:mediumslateblue;
}

p.linea {
    color:rgb(204, 209, 208);
}

h2.cursiva {
    font-style: italic;
    padding-bottom: 50%;
}

.derecha {
    text-align: right;
}



/* para dar espacio entre noticias */

.espacioSuperior {
    padding-top: 25%;
    margin-top: 0%;
}

.espacioInferior {
    padding-bottom: 15%;
}

.otras {
    padding-top: 25%;
}

.laterales {
    padding-right: 3%;
    padding-left: 3%;
}


