.fondo {
    background-image: url("./img/acuarelaBosque.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /*background-position: center bottom; */
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/
}

.box {
    display: flex;
}

h1 {
    color: black;
    margin-top: 0px;
    display: none;
}

h2.cursiva {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 30px;
}

p {
    font-weight: bold;
}

p.linea {
    color:rgb(204, 209, 208);
}

span.negrita {
    color: white;
    font-weight: bold;
}

span.black {
    color: white; 
    background-color: black;
}

.Curriculum {
    color: white;
    text-align: left;
}

.borde {
    border: solid 3px;
}

.recuadro1 {
    height: 85.5vh;
}

.recuadro2 {
    margin-top: 60px;
    width: 25%;
    height: 100vh;
    background-color:black;
    color:white;
    text-align: center;
}

.padding {
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 100px;
}

.img {
    display:block;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 100px;
}

.contenedor {
    display:block;
    margin: auto;
    padding-bottom: 50px;
  
}

.habilidades {
    position: relative; 
   
}

.centrado {
    position: absolute;
    left: 50%;
    transform: translate(-30%, -100%);
}

.circulo {
    display:block;
    margin: auto;
    border: solid 5px;
    color:rgb(255, 255, 224);
    border-radius: 100px;
    background: radial-gradient(transparent, transparent ,rgb(255, 255, 231), rgb(253, 253, 201));
    
}

.hechizos {
    color:rgb(255, 147, 6);
    font-weight: bold;
}

.encantamientos {
    color:mediumslateblue;
}

.franja {
    height: 4%;
    text-align: center;
}

.divFuera {
    width: 75%;
}

.bordeBlanco {
    border: solid white 6px;
}

.total {
    width: 100%;
}

span {
    color: transparent;
}

.derecha {
    text-align: right;
}

.negro {
    color:white;
    background-color: black;
    width: 32%;
}

h3 {
    text-decoration: underline 1px;

}

.contacto {
    padding-top: 100px;
    padding-bottom: 30px;
}

.izquierda {
    text-align: left;
}

.laboral {
    position: relative;
    left: 70%;
}



/* */

.ancho {
    width: 21vh;
}



.sectionAbajo {
    padding-top: 100px;

}



/* INICIO: MENÚS DESPLEGABLES */

nav{
	position: fixed; 
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10vh;
	color: white;
	background-color: black;
	text-align: center;
	z-index: 5;
}

.con-menu ul{
	display:flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.con-menu a{
	display: block;
	padding: 19px 100px;
	text-decoration: none;
	color: white;
	background-color: black;
}

.con-menu a:hover  {
  background-color: mediumslateblue;
}

.con-menu ul li ul {
	display: none;
}

.con-menu ul li a:hover + ul, .con-menu ul li ul:hover {
	display: block;
}

/* FIN: MENÚS DESPLEGABLES */



